.clickable {
  cursor: pointer;
}

.logo-brand {
  font-family: 'Marck Script', cursive;
  word-spacing: -8px;
}

label {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

ng-select {
  min-width: 100%;
}

.ng-select .ng-select-container {
  min-height: 28.38px
}

.ng-select.ng-select-single .ng-select-container {
  height: 28.38px;
}

.app-page-title {
  display: flex;
  align-items: center;
  border-bottom: $border-width solid $border-color !important;
  margin-bottom: 1rem;

  h1 {
    font-size: 1.8rem;
  }

  .page-actions {
    margin-left: auto;
  }
}
