.clickable {
  cursor: pointer;
}

.logo-brand {
  font-family: 'Marck Script', cursive;
  word-spacing: -8px;
}

label {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

textarea {
  resize: none;
}

body {
  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--dark);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
}


/* ng-select customization */
ng-select {
  min-width: 100%;
}

.ng-select .ng-select-container {
  min-height: 28.38px
}

.ng-select.ng-select-single .ng-select-container {
  height: 28.38px;
}

/* ng-select customization end */


.app-page-title {
  display: flex;
  align-items: center;
  border-bottom: $border-width solid $border-color !important;
  margin-bottom: 1rem;

  h1 {
    font-size: 1.8rem;
  }

  .page-actions {
    margin-left: auto;
  }
}


/* Remove spinners for number webkit */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinners for number mozilla */
input[type=number] {
  -moz-appearance: textfield;
}


/* ngb form validation - angular 9 and above fix*/
span.invalid-feedback {
  color: red !important;
}


/* Search CSS */
.search_wrapper {
  flex: 1 0 auto;

  .custom-search {
    width: 100%;
    border: 0;
    padding-left: .2rem;

    &:disabled {
      background: unset;
      cursor: not-allowed;
    }
  }
}
