<div class="forgotPasswordWrapper d-flex align-items-center justify-content-center">

    <div class="card">
        <div class="card-body">
          <div>
            <h1 class="logo-brand">Invoice 101 Password Reset</h1>
          </div>
          
          <form [formGroup]="forgotPasswordForm" autocomplete="off">
            
             <div class="form-group">
              <label for="emailInput">Registered Email</label>
              <input autocomplete="chrome-off" class="form-control" formControlName="email" id="emailInput"
                     type="text">
             </div>

             <div *ngIf="forgotPasswordError.hasError && !submitting" class="text-danger text-center my-4 small">
                {{forgotPasswordError.errorMessage}}
              </div>
      
              <div class="text-center">
               
                <button (click)="submit()" class="btn btn-primary bt-sm" style="float: right;margin-left: 10px;">Submit</button>
                <button (click)="cancel()" class="btn btn-primary bt-sm" style="float: right;" >Cancel</button>
               
                <app-loading *ngIf="submitting"></app-loading>
              </div>
            
          </form>
        </div>
    </div>
</div>
