<div class="app-page-title">
  <h1>Create Customer</h1>
  <button class="btn btn-primary ml-auto" form="customerCreateForm" type="submit">Create</button>
</div>

<div class="text-center">
  <app-loading *ngIf="initialLoading"></app-loading>
</div>

<div class="card contactCard">
  <div class="card-body">
    <form (validSubmit)="createCustomer()" *ngIf="customerForm && !initialLoading"
          [formGroup]="customerForm" class="row" id="customerCreateForm">
      <div class="form-group col-12 col-sm-6">
        <label class="col-form-label col-form-label-sm" for="customer_name">Name</label>
        <input class="form-control form-control-sm" formControlName="name" id="customer_name" type="text">
      </div>

      <div class="form-group col-12 col-sm-6">
        <label class="col-form-label col-form-label-sm" for="email">Email</label>
        <input class="form-control form-control-sm" formControlName="email" id="email" type="text">
      </div>

      <div class="form-group col-12 col-sm-6">
        <label class="col-form-label col-form-label-sm" for="mobile">Mobile No</label>
        <input class="form-control form-control-sm mobile_input" formControlName="mobile_no" id="mobile"
               type="text">
      </div>

      <div class="form-group col-12 col-sm-6">
        <label class="col-form-label col-form-label-sm" for="company">Company</label>
        <input class="form-control form-control-sm" formControlName="company" id="company" type="text">
      </div>

      <div class="form-group col-12 col-sm-6">
        <label class="col-form-label col-form-label-sm" for="gstin">GSTIN</label>
        <input class="form-control form-control-sm" formControlName="gstin" id="gstin" type="text">
      </div>

      <div class="col-12">
        <h6 class="border-bottom">Address</h6>
      </div>

      <div class="form-group col-12 col-sm-6">
        <label class="col-form-label col-form-label-sm" for="address_line_1">Line 1</label>
        <input class="form-control form-control-sm" formControlName="address_line_1" id="address_line_1" type="text">
      </div>

      <div class="form-group col-12 col-sm-6">
        <label class="col-form-label col-form-label-sm" for="address_line_2">Line 2</label>
        <input class="form-control form-control-sm" formControlName="address_line_2" id="address_line_2" type="text">
      </div>

      <div class="form-group col-12 col-sm-6">
        <label class="col-form-label col-form-label-sm" for="city">City</label>
        <input class="form-control form-control-sm" formControlName="city" id="city" type="text">
      </div>

      <div class="form-group col-12 col-sm-6">
        <label class="col-form-label col-form-label-sm" for="state">State</label>
        <ng-select [items]="states" [searchFn]="stateSearch" [searchable]="true"
                   bindLabel="name" bindValue="id" class="" formControlName="state"
                   id="state">
        </ng-select>
      </div>

      <div class="form-group col-12 col-sm-6">
        <label class="col-form-label col-form-label-sm" for="pin_code">PinCode</label>
        <input class="form-control form-control-sm" formControlName="pin_code" id="pin_code" type="number">
      </div>
    </form>
  </div>
</div>
