<div class="card p-4 clickable">
  <div (click)="$event.stopPropagation()" class="ml-auto profile__options" ngbDropdown>
    <fa-icon [icon]="faEllipsisV" class="px-2" ngbDropdownToggle></fa-icon>
    <div ngbDropdownMenu>
      <button [routerLink]="['/dashboard', 'contact', customer.id, 'edit']" ngbDropdownItem>Edit</button>
      <button ngbDropdownItem>Create invoice</button>
    </div>
  </div>
  <div [routerLink]="['/dashboard']" class="d-flex justify-content-center">
    <app-profile-icon [image]="customer.image" [name]="customer.name"></app-profile-icon>
  </div>
  <div [routerLink]="['/dashboard']" class="text-center">
    <div class="customer-name">{{customer.name}}</div>
    <div class="customer-info">{{customer.email}} <span *ngIf="customer.mobile_no">| {{customer.mobile_no}}</span></div>
  </div>
</div>
