<!--<app-dashboard-sidebar></app-dashboard-sidebar>
<section class="d-flex flex-column w-100">
  <app-dashboard-header></app-dashboard-header>
  <div class="body-wrapper bg-light">
    <router-outlet></router-outlet>
  </div>
</section>-->

<div class="layout-wrapper d-flex flex-column">
  <app-dashboard-header></app-dashboard-header>
  <div class="d-block d-sm-flex content-wrapper">
    <app-dashboard-sidebar></app-dashboard-sidebar>
    <div class="body-wrapper bg-light">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
