.layout-wrapper {
  min-height: 100vh;
}

.content-wrapper {
  flex: 1 1 auto;
}


@media (min-width: 482px) {
  .content-wrapper {
    display: flex;
  }

  .body-wrapper {
    flex: 1 1 auto;
  }
}
