@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-up(sm) {
  .body-wrapper {
    margin-left: 3rem;
  }
}


.layout-wrapper {
  min-height: 100vh;

  .content-wrapper {
    flex: 1 1 auto;

    .body-wrapper {
      flex: 1 1 auto;
    }
  }
}
