<div class="app-page-title align-items-center">
  <h1>Customers</h1>
  <div class="ml-auto">
    <button [routerLink]="['/dashboard', 'customer', 'create']" class="btn btn-primary" type="button">
      <fa-icon [icon]="farPlusSquare"></fa-icon>
      Create
    </button>
  </div>
</div>

<div class="card flex-row">
  <div class="filter pr-4 p-2 border-right">
    <fa-icon [icon]="faFilter"></fa-icon>
    Filter
  </div>
  <div class="search p-2">
    <fa-icon [icon]="faSearch"></fa-icon>
    Search
  </div>
</div>

<div class="pt-4 list-wrapper">
  <app-customer-tile *ngFor="let customer of customers" [customer]="customer"></app-customer-tile>
</div>
