.icon-wrapper {
  text-transform: uppercase;
  height: 32px;
  width: 32px;
  background-color: #bbb;
  border-radius: 50%;
  position: relative;

  i {
    font-style: normal;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 4px;
  }
}
