<header class="d-flex justify-content-between align-items-center">
  <div [routerLink]="['/dashboard']" class="logo-brand logo clickable">Invoice 101</div>

  <div class="d-inline-block" ngbDropdown>
    <app-profile-icon [image]="(user | async).photoURL" [name]="(user | async).displayName"
                      ngbDropdownToggle></app-profile-icon>
    <div aria-labelledby="dropdownBasic1" ngbDropdownMenu>
      <button [routerLink]="['/profile', 'edit']" ngbDropdownItem>Profile</button>
      <button (click)="logout()" ngbDropdownItem>Logout</button>
    </div>
  </div>
</header>
