<div class="app-page-title align-items-center">
  <h1>Contact</h1>
  <div class="ml-auto">
    <button [routerLink]="['/dashboard', 'contact', 'create']" class="btn btn-primary" type="button">
      <fa-icon [icon]="faPlusSquare"></fa-icon>
      Create
    </button>
  </div>
</div>

<div class="card flex-row d-block d-sm-flex">
  <div class="filter p-2 border-right clickable" ngbDropdown>
    <div ngbDropdownToggle>
      <fa-icon [icon]="faFilter"></fa-icon>
      Filter
    </div>
    <div aria-labelledby="dropdownBasic1" ngbDropdownMenu>
      <div class="p-2">

      </div>
    </div>
  </div>
  <div class="search_wrapper p-2 d-flex align-items-center justify-content-center">
    <fa-icon [icon]="faSearch"></fa-icon>
    <input (debounceInput)="fetchContacts(null)"
           [(ngModel)]="searchText" [disabled]="isLoading"
           appInputDebounce class="custom-search" placeholder="Search" title="Search"
           type="text">
  </div>
</div>

<div *ngIf="!isLoading" class="pt-4 list-wrapper">
  <app-contact-tile *ngFor="let contact of contacts" [customer]="contact"></app-contact-tile>
</div>
<div *ngIf="isLoading" class="text-center pt-4">
  <app-loading></app-loading>
</div>
<div *ngIf="!isLoading" class="d-flex justify-content-center align-items-center mt-4">
  <button (click)="fetchContacts(previousUrl)" [disabled]="!previousUrl" class="btn btn-sm btn-primary mx-2">< Previous
  </button>
  <button (click)="fetchContacts(nextUrl)" [disabled]="!nextUrl" class="btn btn-sm btn-primary mx-2">Next ></button>
</div>
