.contactCard {
  width: 80%;
  margin: auto;
  max-width: 800px;
}

.mobile_input::-webkit-outer-spin-button,
.mobile_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.mobile_input[type=number] {
  -moz-appearance: textfield;
}
