<div class="sidebar-wrapper">
  <div class="sidebar-list-group d-flex align-items-center justify-content-around flex-sm-column">
    <div [routerLink]="['/dashboard', 'contact', 'list']" class="sidebar-list-item text-light"
         routerLinkActive="active">
      <fa-icon [icon]="faAddressBook"></fa-icon>
      <div class="sidebar-list-item-text">Contacts</div>
    </div>

    <div [routerLink]="['/dashboard', 'product', 'list']" class="sidebar-list-item text-light"
         routerLinkActive="active">
      <fa-icon [icon]="faShoppingBag"></fa-icon>
      <div class="sidebar-list-item-text">Products</div>
    </div>

    <div [routerLink]="['/dashboard', 'invoice', 'list']" class="sidebar-list-item text-light"
         routerLinkActive="active">
      <fa-icon [icon]="faFilePdf"></fa-icon>
      <div class="sidebar-list-item-text">Invoices</div>
    </div>

    <div [routerLink]="['/dashboard', 'expenses', 'list']" class="sidebar-list-item text-light"
         routerLinkActive="active">
      <fa-icon [icon]="faDollarSign"></fa-icon>
      <div class="sidebar-list-item-text">Expenses</div>
    </div>

    <div class="sidebar-list-item text-light" ngbDropdown>
      <app-profile-icon [image]="user.profile_image" [name]="user.name" ngbDropdownToggle></app-profile-icon>
      <div aria-labelledby="dropdownBasic1" ngbDropdownMenu>
        <button [routerLink]="['/profile', 'edit']" ngbDropdownItem>Profile</button>
        <button (click)="logout()" ngbDropdownItem>Logout</button>
      </div>
    </div>
  </div>
</div>
