//sidebar-wrapper border-right

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-up(sm) {
  .sidebar-wrapper {
    position: fixed;
    width: 3rem !important;
    transition: var(--transition-speed);

    &:hover {
      width: 12rem !important;

      .sidebar-list-item {
        align-items: center;
        justify-content: start;
        padding-left: 28px;

        &.logo {
          justify-content: center;
          padding-left: 0 !important;

          img {
            width: auto;
            height: 96px;
          }
        }

        .sidebar-list-item-text {
          display: block !important;
          margin-left: 15px;
        }
      }
    }
  }
}


.sidebar-wrapper {
  color: var(--light);
  --transition-speed: 200ms ease;
  background-color: var(--dark);
  height: 100%;
  width: 100%;
  z-index: 100;
}

.sidebar-list-group {
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100%;

  .sidebar-list-item {
    width: 100%;
    cursor: pointer;
    margin: 5px 0;
    outline: none;
    display: flex;
    justify-content: center;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);

    &:not(.logo) {
      height: 32px;
    }

    &.logo {
      img {
        width: auto;
        height: 32px;
      }
    }

    fa-icon {
      font-size: 1.3rem;
    }

    &:last-child {
      margin-top: auto;
    }

    .sidebar-list-item-text {
      display: none;
      font-size: 14px;
    }

    &.active, &:hover {
      color: var(--mint-green) !important;
      filter: grayscale(0) opacity(1);

      fa-icon {
        color: var(--mint-green);
      }
    }
  }
}
